<h3>Equipment</h3>
<ul>
  <li *ngFor="let item of equipment">
    <span *ngIf="equipmentBeingEdited !== item; else elseBlock">
        <!-- display state of equipment -->
      <span (click)="edit(item)" class="editable-text">{{item.name}}</span>
      <button (click)="remove(item)">remove</button>
    </span>

    <ng-template #elseBlock>
      <!-- edit state of equipment -->
      <input #updatedEquip (keyup.enter)="save(updatedEquip.value, item)" value="{{item.name}}"/>
      <button (click)="save(updatedEquip.value, item)">save</button>
   </ng-template>
  </li>
</ul>
<input #name type="text"/>
<button (click)="add(name.value)">Add</button>